@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;700&family=PT+Serif+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');
body {
  background-color: #151424 ;
  font-family: 'PT Serif Caption', serif;
}
.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #efe3de;
  border-radius: 14px;
  box-shadow: 8px 14px 14px 5px rgba(49,52,196,0.35);
}
.header {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 15px;
}
.header_row {display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header_logo {
  width: 70px;
  height: 60px;
  background-image: url(../imgs/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header_title {color: aliceblue;
  font-family: 'PT Serif Caption', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header_title p {
  color: aliceblue;
  font-family: 'PT Serif Caption', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header_menu {
  width: calc(50%-64px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu {display: flex;
  flex-direction: row;
  align-items: center;
}
.menu_list {
  list-style: none;
  display: flex;
}
.menu_list li {
  margin-right: 10px;
}
.menu_list li:nth-last-child(1) {
  margin-right: 0px;
}
.menu_link {
  color: var(--Color-2, #F8F7F9);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar-container_divider span {
  color: #F8F7F9;
  margin: 0 64px 0 64px;
  padding: 10px;
}
.navbar_container_socials {
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_container_socials a {
  margin-right: 40px;
}
.page {
  display: flex;
  width: 100%;
}
.container_block {
  display: flex;
  flex: 1;
}
.col-left {
  z-index: 10;
  flex: 1;
  padding: 10px;
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
}
.title-welcome p {color:#F8F7F9;
  font-family: 'PT Serif Caption', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-main {
  margin-top: 28px;
  color: var(--Color-2, #F8F7F9);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px; /* 100% */
}
.text-wrapper {
margin: 36px 0 0;
}
.text-wrapper p {
  color: rgba(248, 247, 249, 0.50);
  font-family: 'PT Serif Caption', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-action {
  margin-top: 45px;
  margin-left: 120px;
  width: 490px;
  height: auto;
}
.container-action p {
  color: #b54c65;
  text-align: left;
  font-family:'PT Serif Caption', serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.container-btn {
  padding: 12px 26px;
  align-items: center;
  border-radius: 12px;
  border: 2px solid var(--Color-2, #F8F7F9);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 350px;
  justify-content: center;
  display: flex;
  margin-top: 40px;
  margin-left: 180px;
}
.container-btn p {color:#F8F7F9;
  font-family: 'PT Serif Caption', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.col-right {
  z-index: 10;
  flex: 1;
  margin: auto;
}
.avatar {
  margin: auto;}